@use "sass:math";

$darkColor: #131a2f;
$darkDarkColor: #0d1221;
$borderColor:#3b508b;
$green: #3cad40;
$red: #db2828;
$orange: #e18f42;
$gray: #999999;
$white: #fff;
$yellow: #ffcc24;

//breakpoints
$base-viewport-width: 1440px;
$base-mobile-viewport-width: 360px;
$base-mobile: 360px;
$mobile-width: 1000px;

// grid
$col-size: 64px;
$col-size-mobile: 44.6px;
$gap-size: 40px;
$gap-size-mobile: 12px;

@function px2vw($px, $baseW: $base-viewport-width) {
	@if $px == 0 or $px == none or $px == auto or $px == unset {
		@return $px;
	} @else {
		@return math.div($px, math.div($baseW, 100)) * 1vw;
	}
}

@function cols($quantity, $type: 'wide') {
	$col-width: $col-size;
	$gap: $gap-size;

	@if ($type == 'fluid') {
		$col-width: px2vw($col-size);
		$gap: px2vw($gap-size);
	} @else if ($type == 'mobile') {
		$col-width: px2vw($col-size-mobile, $base-mobile-viewport-width);
		$gap: px2vw($gap-size-mobile, $base-mobile-viewport-width);
	}

	@return ($col-width + $gap) * $quantity - $gap;
}

@mixin mobile {
	@media screen and (max-width: $mobile-width) and (orientation: portrait) {
		@content;
	}
}

@mixin not-mobile {
	@media screen and (min-width: $mobile-width + 1px) {
		@content;
	}
}

@mixin wide-screen {
	@media screen and (min-width: $base-viewport-width + 1px) {
		@content;
	}
}

@mixin fluid($prop, $desktop-size, $mobile-size: $desktop-size, $important: false) {
	$important-rule: '';
	@if ($important) {
		$important-rule: ' !important';
	}

	#{$prop}: px2vw($desktop-size)#{$important-rule};

	@include wide-screen {
		#{$prop}: $desktop-size#{$important-rule};
	}

	@include mobile {
		#{$prop}: px2vw($mobile-size, $base-mobile-viewport-width)#{$important-rule};
	}
}

@font-face {
	font-family: 'Chalk';
	src: url('/src/fonts/Chalkcyrillicfreehand.ttf');
}

* {
	font-family: "Chalk", sans-serif;
	@include fluid('font-size', 32px, 32px);
}
body {
	padding: 0;
	margin: 0;
	background-image: url('/src/img/bg.webp');
	background-size: contain;
	background-size: auto;
    // height: 100vh;
	color: $white;
	overflow: hidden;
	position: relative;
}

a {
	display: block;
	text-decoration: none;
}

.main {
	display: flex;
	justify-content: space-around;
	align-items: center;
	// height: 100vh;

	@include mobile {
		display: block;
		// height: 90vh;
	}
}

.content {
	@include fluid('min-width', 600px);
	@include fluid('max-width', 1208px);

	@include mobile {
		min-width: 100%;
	}
}

.container {
	@include fluid('max-width', 1208px);
	@include fluid('min-width', 600px);
	margin: 0 auto;
	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: flex-start;

	@include mobile {
		max-width: 100%;
		min-width: auto;
		width: 100%;
	}
}

.screen {
	align-content: center;
    height: 90svh;

	.container {
		position: relative;
		height: 70svh;
	}
}

._dflex {
	display: flex;
}

._text-center {
	text-align: center;
}
.h1 {
	@include fluid('font-size', 96px, 72px);
}

.h2 {
	@include fluid('font-size', 64px, 48px);
}

.button {
	color: #ffffffe0;
	cursor: pointer;
	@include fluid('font-size', 54px, 36px);
	@include fluid('margin-bottom', 16px);
	text-align: center;
	transition: .2s;

	&:hover {
		color: #fff;
		transition: .2s;
		transform: scale(1.1);
	}

	&-back {
		position: absolute;
		display: none;
		@include fluid('top', 8px);
		z-index: 1;
		@include fluid('left', 12px);
	}
}

#game-screen {
	display: none;

	& .container {
		display: block;
		width: 90%;
	}
}
#levels-screen {
	display: none;
}
#settings-screen {
	display: none;
}
#rules-screen {
	display: none;
}
#themes-screen {
	display: none;
}
#not-support-screen {
	display: none;
}
#other-games-screen {
	display: none;
}

.letter {
	&-card {
		@include fluid('font-size', 48px, 32px);
		display: inline-block;
		cursor: pointer;
		text-transform: capitalize;
		text-align: center;
		user-select: none;
		transition: .2s;

		&:hover {
			transition: .2s;
			transform: scale(1.2);
		}

		&:last-child {
			margin-right: 0;
		}

		&._blocked {
			pointer-events: none;
			opacity: 0.3;
		}
	}
}

.hint {
	@include fluid('font-size', 32px, 24px);
	@include fluid('margin-bottom', 32px);
	text-align: center;
}

.word {
	display: flex;
	justify-content: center;
	@include fluid('margin-bottom', 32px);

	&__letter {
		border-bottom: 4px solid $white;
		@include fluid('padding-bottom', 6px);
		@include fluid('width', 54px, 24px);
		@include fluid('height', 54px, 24px);
		display: inline-block;
		@include fluid('margin-right', 4px);
		@include fluid('font-size', 56px, 28px);
		text-align: center;
		text-transform: capitalize;
		user-select: none;

		&_space {
			border-bottom: none;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.banner {
	// background-color: rgba(255,255,255,0.5);

	&-right {
		@include fluid('width', 240px, 240px, true);
		@include fluid('height', 400px, 400px, true);

		@include mobile {
			display: none;
		}
	}
	&-left {
		@include fluid('width', 240px, 240px, true);
		@include fluid('height', 400px, 400px, true);

		@include mobile {
			display: none;
		}
	}
	&-bottom {
		@include fluid('width', 320px, 320px, true);
		@include fluid('height', 50px, 50px, true);
		margin: 0 auto;
		display: none;
		position: absolute;
		@include fluid('bottom', -40px, -40px, true);
		left: 50%;
		transform: translate(-50%, 0);

		@include wide-screen {
			display: block;
		}
		@include mobile {
			display: block;
		}
	}
}

.keys {
	display: grid;
	@include fluid('grid-gap', 16px, 4px);
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	transition: .4s;
}

.winning {
	display: none;
	text-align: center;

	&__title {
		@include fluid('margin-top', 64px, 32px);
		@include fluid('font-size', 56px, 36px);
	}
}

.losing {
	display: none;
	text-align: center;

	&__title {
		@include fluid('margin-top', 64px, 32px);
		@include fluid('font-size', 56px, 36px);
	}
}

#hangman {
	position: relative;
	display: block;
	@include fluid('height', 285px, 200px);
	@include fluid('width', 200px);
	@include fluid('margin-bottom', 16px);
	margin-left: auto;
	margin-right: auto;
	$thickness: 5px;

	& div.active {
		transition: 1s;
	}

	& div {
		background-color: #fff;
		position: absolute;
		transition: .1s;
	}
	& #platform {
		@include fluid('height', $thickness);
		width: 100%;
		bottom: 0;
		@include fluid('left', 0);
	}
	& #part1 {
		@include fluid('height', 0px);
		@include fluid('width', $thickness);
		bottom: 0;
		@include fluid('left', 0);

		&.active {
			@include fluid('height', 280px, 180px);
		}
	}
	& #part2 {
		@include fluid('height', $thickness);
		@include fluid('width', 0px);
		@include fluid('bottom', 280px, 180px);
		@include fluid('left', 0);

		&.active {
			@include fluid('width', 100px);
		}
	}

	& #part3 {
		@include fluid('height', 0);
		@include fluid('width', $thickness);
		@include fluid('bottom', 255px, 155px);
		@include fluid('left', 100px, 100px);

		&.active {
			@include fluid('height', 30px);
		}
	}

	& #head {
		@include fluid('height', 0);
		@include fluid('width', 0);
		border-radius: 50%;
		@include fluid('left', 78px);

		&.active {
			@include fluid('height', 40px, 20px);
			@include fluid('width', 40px, 20px);
		}
	}

	& #body {
		@include fluid('height', 0);
		@include fluid('width', $thickness*2, $thickness);
		@include fluid('bottom', 62px, 123px);
		@include fluid('left', 93px, 85px);

		&.active {
			@include fluid('height', 100px, 60px);
		}
	}

	& #handLeft {
		@include fluid('height', 0);
		@include fluid('width', $thickness*2, $thickness);
		@include fluid('bottom', 108px, 145px);
		@include fluid('left', 62px, 64px);
		transform: rotate(32deg);
		transform-origin: bottom;

		&.active {
			@include fluid('height', 60px, 40px);
		}
	}
	& #handRight {
		@include fluid('height', 0);
		@include fluid('width', $thickness*2, $thickness);
		@include fluid('bottom', 108px, 145px);
		@include fluid('left', 130px, 110px);
		transform: rotate(322deg);
		transform-origin: bottom;

		&.active {
			@include fluid('height', 60px, 40px);
		}
	}

	& #legLeft {
		@include fluid('height', 0);
		@include fluid('width', $thickness*2, $thickness);
		@include fluid('bottom', 0, 65px);
		@include fluid('left', 82px, 77px);
		transform: rotate(8deg);
		transform-origin: bottom;

		&.active {
			@include fluid('height', 80px, 60px);
		}
	}
	& #legRight {
		@include fluid('height', 0);
		@include fluid('width', $thickness*2, $thickness);
		@include fluid('bottom', 0px, 65px);
		@include fluid('left', 104px, 93px);
		transform: rotate(352deg);
		transform-origin: bottom;

		&.active {
			@include fluid('height', 80px, 60px);
		}
	}

	#corpse {
		@include fluid('height', 200px);
		@include fluid('width', 200px);
		@include fluid('bottom', 60px, -40px);
		@include fluid('left', 5px , 12px);
        background: transparent;
        transform-origin: top center;

		&.active {
			animation: rocking 5s infinite linear;
		}
	}
}

@keyframes rocking {
	0% {
		transform: rotateZ(0deg);
	}
	25% {
		transform: rotateZ(3deg);
	}
	75% {
		transform: rotateZ(-3deg);
	}
	100% {
		transform: rotateZ(0);
	}
}

.checkbox {
	cursor: pointer;
	user-select: none;

	& input {
		display: none;
	}

	&__body {
		display: flex;
		align-items: center;
		position: relative;
		@include fluid('margin-bottom', 18px, 14px);
		@include fluid('font-size', 16px, 14px);
		@include fluid('height', 24px, 24px);

		&::before {
			content: '';
			display: inline-block;
			@include fluid('width', 20px, 20px);
			@include fluid('height', 20px, 20px);
			@include fluid('border-radius', 4px);
			@include fluid('margin-right', 15px);
			background-color: rgba(0,0,0,0.3);
			border: 2px solid #fff;
		}

		&::after {
			content: '';
			transform: scale(0);
			opacity: 0;
			transition: transform .1s,opacity .1s ease;
		}

		&.checkbox__checked::after {
			content: '';
			transform: scale(1);
			opacity: 1;
			background-size: cover;
			background-position: 50%;
			background-image: url('/src/img/icon-check-white.svg');
			box-sizing: border-box;
			position: absolute;
			left: 0;
			top: 0;
			@include fluid('border-radius', 4px);
			@include fluid('width', 24px, 24px);
			@include fluid('height', 24px, 24px);
		}
	}

	&:last-of-type {
		@include fluid('margin-bottom', 24px, 24px);
	}
}
